.carlist-layout{
    width: 100vw;
    // min-height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    .full-width{
        width: 90%;
        margin-top: 48px;
        .head{   
            border-bottom:1px solid black;
            color: #545454;
            h3{
                font-size: 30px;
                font-weight: 100;
            }
        }
        .car{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-content: flex-start;
        }
    }
    .half-width-body{
        width: 90%;
        margin-bottom: 48px;
        .half-width-wrapper{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .half-width{
                margin-top: 48px;
                width: 47%;
                // height: 300px;
                display: flex;
                flex-direction: column;
                .head{   
                    border-bottom:1px solid black;
                    color: #545454;
                    h3{
                        font-size: 30px;
                        font-weight: 100;
                    }
                }
                .car{
                    display: flex;
                    justify-content: space-between;
                }
                // background: blueviolet;
            }
        }
    }

}

@media (max-width: 768px) {
    .carlist-layout{
        
        .full-width{
            width: 80%;
            .head{   
                
                h3{
                    
                }
            }
            .car{
                
            }
        }
        .half-width-body{
            width: 80%;
            .half-width-wrapper{
                
                .half-width{
                    width: 100%;
                    .head{   
                        
                        h3{
                            
                        }
                    }
                    .car{
                        justify-content: space-evenly;
                    }
                }
            }
        }
    
    }
}

@media (max-width: 426px) {
    .carlist-layout{
        
        .full-width{
            width: 80%;
            .head{   
                
                h3{
                    font-size: 18px;
                }
            }
            .car{
                justify-content: space-around;
            }
        }
        .half-width-body{
            width: 80%;
            .half-width-wrapper{
                
                .half-width{
                    width: 100%;
                    .head{   
                        
                        h3{
                            font-size: 18px;
                        }
                    }
                    .car{
                        justify-content: space-around;
                    }
                }
            }
        }
    
    }
}