.category-layout{
    width: 100vw;
    // min-height: 100vh;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        font-size: 42px;
        color: #434343;
        font-weight: 400;
        margin-top: 64px;
    }
    .category-content{
        margin: 70px 0px;
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        // background: red;
        justify-content: space-between;
        .category-wrapper{
            width: 235px;
            text-align: center;
            img{
                width: 80px;
            }
            h3{
                margin-top: 36px;
                font-size: 30px;
                color: #434343;
                font-weight: 100;
            }
            p{
                font-size: 18px;
                margin-top: 24px;
                color: #686868;
            }
        }
    }
}

@media (max-width: 1024px) {
    .category-layout{
        h2{
            font-size: 36px;
        }
        .category-content{
            justify-content: space-around;
            width: 65%;
            .category-wrapper{
                margin-top: 32px;
                img{
                    width: 60px;
                }
                h3{
                    margin-top: 24px;
                    font-size: 30px;
                    color: #434343;
                }
                p{
                    font-size: 18px;
                    margin-top: 16px;
                    color: #686868;
                }
            }
        }
    }
    
}

@media (max-width: 769px) {
    .category-layout{
        h2{
            width: 65%;
            text-align: center;
            font-size: 32px;
            margin-top: 42px;
        }
        .category-content{
            justify-content: space-around;
            width: 80%;
            margin: 60px 0px;
            .category-wrapper{
                margin-top: 32px;
                // background: red;
                width: 40%;
                img{
                    
                }
                h3{
                    margin-top: 24px;
                    font-size: 24px;
                    color: #434343;
                }
                p{
                    font-size: 18px;
                    margin-top: 8px;
                    color: #686868;
                }
            }
        }
    }
    
}

@media (max-width: 376px) {
    .category-layout{
        h2{
            width: 65%;
            text-align: center;
            font-size: 20px;
            margin-top: 42px;
        }
        .category-content{
            justify-content: space-around;
            width: 80%;
            margin-top: 10px;
            margin-bottom: 40px;
            .category-wrapper{
                margin-top: 32px;
                // background: red;
                width: 80%;
                img{
                    
                }
                h3{
                    margin-top: 18px;
                    font-size: 18px;
                    color: #434343;
                }
                p{
                    font-size: 12px;
                    margin-top: 8px;
                    color: #686868;
                }
            }
        }
    }
    
}