.footer-layout{
    width: 100vw;
    background: #D3D3D3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .content{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        // background: black
        .contact-layout{
            width: 50%;
            // background: bisque;
            display: flex;
            justify-content: center;
            .contact{
                width: 90%;
                // background: beige;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 30px 0px;
                .content-wrapper{
                    // background: chocolate;
                    width: 90%;
                    display: flex;
                    // flex-wrap: wrap;
                    flex-flow: row wrap;
                    justify-content: flex-start;
                    .content{
                        margin: 12px 0px;
                        display: flex;
                        align-items: center;
                        // background: red;
                        width: 50%;
                        text-decoration: none;
                        img{
                            width: 30px;
                            filter: opacity(50%)
                        }
                        p{
                            margin-left: 12px;
                            font-size: 14px;
                            color: #646464;
                            text-align: justify;
                        }
                    }
                    .clickable-content{
                        img{
                            transition: 0.5s;
                        }
                        p{
                            transition: 0.5s;
                        }
                    }
                    .clickable-content:hover > img{
                        filter: opacity(80%);
                    }
                    .clickable-content:hover > p{
                        color: rgb(31, 31, 31);
                    }
                }
            }
        }
        .about-layout{
            // background: blanchedalmond;
            width: 50%;
            display: flex;
            justify-content: center;
            .bio-wrapper{
                display: flex;
                flex-direction: column;
                width: 90%;
                // background: chocolate;
                margin: 24px 0px;
                h4{
                    font-size: 20px;
                    width: 100%;
                    color: #828282;
                }
                .bio{
                    margin-top: 12px;
                    display: flex;
                    justify-content: space-between;
                    p{
                        width: 78%;
                        text-align: justify;
                        color: #646464;
                    }
                }
            }
        }
        .location-layout{
            width: 100vw;
            display: flex;
            .location{
                width: 50%;
                display: flex;
                justify-content: center;
                // background: red;
                .location-wrapper{
                    // background: blanchedalmond;
                    margin: 30px 0px;
                    display: flex;
                    align-items: center;
                    width: 85%;
                    img{
                        width: 30px;
                        filter: opacity(50%);
                    }
                    p{
                        margin-left: 12px;
                        font-size: 14px;
                        color: #646464;
                        text-align: justify;
                    }
                }
            }
        }
    }
    .footer{
        background: #8D8D8D;
        height: 60px;
        width: 100%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .footer-layout{
        .content{
            display: flex;
            flex-flow: row wrap;
            .contact-layout{
                width: 50%;
                // background: blanchedalmond;
                .contact{
                    // background: chocolate;
                    width: 95%;
                    .content-wrapper{
                        // background: red;
                        width: 100%;
                        .content{
                            // background: chocolate;
                            width: 50%;
                            img{
                                
                            }
                            p{
                                
                            }
                        }
                        .clickable-content{
                            img{
                                
                            }
                            p{
                                
                            }
                        }
                        .clickable-content:hover > img{
                            
                        }
                        .clickable-content:hover > p{
                            
                        }
                    }
                }
            }
            .about-layout{
                width: 50%;
                // background: beige;
                .bio-wrapper{
                    width: 85%;
                    // background: chocolate;
                    h4{

                    }
                    .bio{
                        // background: chocolate;
                        p{
                            // background: blue;
                            width: 70%;
                            font-size: 14px;
                        }
                    }
                }
            }
            .location-layout{
                width: 100vw;
                // background: blanchedalmond;
                flex-flow: row wrap;
                display: flex;
                .location{
                    width: 50%;
                    // background: beige;
                    .location-wrapper{
                        width: 90%;
                        margin: 12px 0px;
                        // background: chocolate;
                        img{
                            
                        }
                        p{
                            
                        }
                    }
                }
            }
        }
        .footer{
            width: 100vw;
            // background: red;
        }
    }
}

@media (max-width: 768px) {
    .footer-layout{
        // display: none;
        .content{
            display: flex;
            flex-flow: row wrap;
            .contact-layout{
                width: 100%;
                // background: blanchedalmond;
                order: 3;
                .contact{
                    // background: chocolate;
                    width: 95%;
                    margin: 6px 0px;
                    .content-wrapper{
                        // background: green;
                        width: 100%;
                        justify-content: space-evenly;
                        .content{
                            // background: beige;
                            width: 200px;
                            margin: 6px 0px;
                            img{
                                width: 25px;
                            }
                            p{
                                font-size: 12px;
                                margin-left: 6px;
                            }
                        }
                        .clickable-content{
                            img{
                                
                            }
                            p{
                                
                            }
                        }
                        .clickable-content:hover > img{
                            
                        }
                        .clickable-content:hover > p{
                            
                        }
                    }
                }
            }
            .about-layout{
                width: 100%;
                // background: beige;
                order: 1;
                .bio-wrapper{
                    width: 85%;
                    // background: chocolate;
                    h4{

                    }
                    .bio{
                        // background: chocolate;
                        p{
                            // background: blue;
                            width: 75%;
                            font-size: 14px;
                        }
                    }
                }
            }
            .location-layout{
                width: 100vw;
                // background: blanchedalmond;
                flex-flow: row wrap;
                display: flex;
                order: 2;
                .location{
                    width: 100%;
                    // background: beige;
                    .location-wrapper{
                        width: 90%;
                        margin: 12px 0px;
                        // background: chocolate;
                        display: flex;
                        justify-content: center;
                        img{
                            width: 25px;
                        }
                        p{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .footer{
            width: 100vw;
            // background: red;
        }
    }
}

@media (max-width: 426px) {
    .footer-layout{
        // display: none;
        .content{
            display: flex;
            flex-flow: row wrap;
            .contact-layout{
                width: 100%;
                // background: blanchedalmond;
                order: 3;
                .contact{
                    // background: chocolate;
                    width: 95%;
                    margin: 6px 0px;
                    .content-wrapper{
                        // background: green;
                        width: 100%;
                        justify-content: space-evenly;
                        .content{
                            // background: beige;
                            width: 200px;
                            margin: 6px 0px;
                            img{
                                width: 25px;
                            }
                            p{
                                font-size: 12px;
                                margin-left: 6px;
                            }
                        }
                        .clickable-content{
                            img{
                                
                            }
                            p{
                                
                            }
                        }
                        .clickable-content:hover > img{
                            
                        }
                        .clickable-content:hover > p{
                            
                        }
                    }
                }
            }
            .about-layout{
                width: 100%;
                // background: beige;
                order: 1;
                .bio-wrapper{
                    width: 85%;
                    // background: chocolate;
                    h4{

                    }
                    .bio{
                        // background: chocolate;
                        p{
                            // background: blue;
                            width: 60%;
                            font-size: 14px;
                        }
                    }
                }
            }
            .location-layout{
                width: 100vw;
                // background: blanchedalmond;
                flex-flow: row wrap;
                display: flex;
                order: 2;
                .location{
                    width: 100%;
                    // background: beige;
                    .location-wrapper{
                        width: 90%;
                        margin: 12px 0px;
                        // background: chocolate;
                        display: flex;
                        justify-content: center;
                        img{
                            width: 25px;
                        }
                        p{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .footer{
            width: 100vw;
            // background: red;
        }
    }
}