.footer-layout{
    width: 100vw;
    background: #D3D3D3;
    .content{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        // background: black
        .contact-layout{
            width: 50%;
            // background: bisque;
            display: flex;
            justify-content: center;
            .contact{
                width: 90%;
                // background: beige;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 30px 0px;
                .content-wrapper{
                    // background: chocolate;
                    width: 90%;
                    display: flex;
                    // flex-wrap: wrap;
                    flex-flow: row wrap;
                    justify-content: flex-start;
                    .content{
                        margin: 12px 0px;
                        display: flex;
                        align-items: center;
                        // background: red;
                        width: 50%;
                        text-decoration: none;
                        img{
                            width: 30px;
                            filter: opacity(50%)
                        }
                        p{
                            margin-left: 12px;
                            font-size: 14px;
                            color: #646464;
                            text-align: justify;
                        }
                    }
                    .clickable-content{
                        img{
                            transition: 0.5s;
                        }
                        p{
                            transition: 0.5s;
                        }
                    }
                    .clickable-content:hover > img{
                        filter: opacity(80%);
                    }
                    .clickable-content:hover > p{
                        color: rgb(31, 31, 31);
                    }
                }
            }
        }
        .about-layout{
            // background: blanchedalmond;
            width: 50%;
            display: flex;
            justify-content: center;
            .bio-wrapper{
                display: flex;
                flex-direction: column;
                width: 90%;
                // background: chocolate;
                margin: 24px 0px;
                h4{
                    font-size: 20px;
                    width: 100%;
                    color: #828282;
                }
                .bio{
                    margin-top: 12px;
                    display: flex;
                    justify-content: space-between;
                    p{
                        width: 78%;
                        text-align: justify;
                        color: #646464;
                    }
                }
            }
        }
        .location-layout{
            width: 100vw;
            display: flex;
            .location{
                width: 50%;
                display: flex;
                justify-content: center;
                // background: red;
                .location-wrapper{
                    // background: blanchedalmond;
                    margin: 30px 0px;
                    display: flex;
                    align-items: center;
                    width: 85%;
                    img{
                        width: 30px;
                        filter: opacity(50%);
                    }
                    p{
                        margin-left: 12px;
                        font-size: 14px;
                        color: #646464;
                        text-align: justify;
                    }
                }
            }
        }
    }
    .footer{
        background: #8D8D8D;
        height: 60px;
        width: 100%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// @media (max-width: 768px) {
//     .footer-layout{
        
//         .content{
//             display: flex;
//             flex-direction: column-reverse;
//             // background: beige;
//             .contact{
//                 width: 100vw;
//                 // background: red;
//                 .content-wrapper{
//                     width: 80%;
//                     // background: blue;
//                     .content{
//                         display: flex;
//                         flex-direction: row;
//                         img{
                            
//                         }
//                         p{
                            
//                         }
//                     }
//                 }
//             }
//             .about{
//                 width: 100%;
//                 .bio-wrapper{
//                     width: 80%;
//                     // background: bisque;
//                     h4{
                        
//                     }
//                     .bio{
                        
//                         p{
                            
//                         }
//                     }
//                     .socmed{
                        
//                         img{
                            
//                         }
//                         img:hover{
                            
//                         }
//                     }
//                 }
//             }
//         }
//         .footer{
            
//         }
//     }
// }