header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: white;
    border-bottom: 1px solid rgb(199, 199, 199);
    z-index: 1;
    // display: none;
    .logo{
        width: 80px;
        height: 40px;
        margin-left: 30px;
        float: left;
    }
    img:hover{
        cursor: pointer;
    }
    nav{
        // background: red;
        height: 54px;
        margin-right: 60px;
        width: 30%;
        display: flex;
        align-items: center;
        ul{
            margin: 0;
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            // background: blanchedalmond;
            height: 100%;
            li{
                list-style: none;
                // background: blue;
                display: flex;
                align-items: center;
                height: 100%;
                // color: rgb(170, 170, 170);
                box-sizing: border-box;
                padding: 10px;
                a{
                    // background: blanchedalmond;
                    color: rgb(88, 88, 88);
                    line-height: 350%;
                    padding: 0px 18px;
                }
                .active{
                    transition: 0.5s;
                    background: rgb(88, 88, 88);
                    color: rgb(233, 233, 233);
                }
            }
            li:hover{
                cursor: pointer;
            }
        }
    }
}

@media (min-width:768px) {
    .hamburger{
        display: none;
    }
}

@media (max-width:769px) {
    header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        background: white;
        .logo{
            margin-left: 20px;
        }
        img:hover{
            cursor: pointer;
        }
        nav{
            transition: 0.8s;
            // display: none;
            position: absolute;
            // background: rgb(207, 207, 207);
            height: 100vh;
            width: 100vw;
            top: 60px;
            left: 100%;
            margin: 0;
            // right: 0%;
            ul{
                background: rgb(230, 230, 230);
                flex-direction: column;
                justify-content: flex-start;
                li{
                    // background: cyan;
                    height: 54px;
                    padding: 0;
                    a{
                        // background: darkcyan;
                        width: 100%;
                        text-align: center;
                    }
                    .active{

                    }
                }
                li:hover{
                    
                }
            }
        }
        .hamburger{
            // background: red;
            display: flex;
            margin-right: 20px;
            height: 60px;
            align-items: center;
            // backgri
            .hamburger-logo{
                transition: 2s;
                width: 36px;
                height: 36px;
                filter: opacity(50%);
            }
            .hamburger-close{
                background: beige;
                font-size: 40px;
                filter: opacity(60%);
            }
        }
    }
}